/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
  overflow-y:scroll

}

 body{
   background-color: #333;
 }

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;

}
.masthead-nav > li > a {
  padding-right: 15px;
  padding-left: 0px;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;

}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

div.navi {
  margin-left:73%;
}

.form{
 margin-top:20em;
}

div.impress a{
  font-size: 15px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);

}

div.impress{
  margin-top: 60px;
  text-align:center;
}

.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.title{
  padding-right: 0px;
  padding-left: 0px;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  /*border-bottom: 2px solid transparent; */
}

.suche{
 margin-top:60px;
}

div.col-md-4{
  padding-right: 0px;
  padding-left: 0px;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
}
